---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ k8s_cluster_master_ip }}"
  bindPort: 6443
nodeRegistration:
  criSocket: "{{ k8s_cluster_runtime_socket }}"
  imagePullPolicy: IfNotPresent
  name: "{{ ansible_hostname }}"
  taints: null
  kubeletExtraArgs:
    node-ip: "{{ k8s_cluster_master_ip }}"
---
apiServer:
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta3
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
controllerManager: {}
dns: {}
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: registry.k8s.io
kind: ClusterConfiguration
kubernetesVersion: 1.28.0
networking:
  dnsDomain: cluster.local
  serviceSubnet: 10.96.0.0/12
  podSubnet: "{{ k8s_cluster_pod_cidr | default('10.244.0.0/16') }}"
controlPlaneEndpoint: "{{ k8s_cluster_master_ip }}:6443"
scheduler: {}
